In [57]:
# Dependencies and Setup
import pandas as pd

schools = "Resources/schools_complete.csv"
students = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(schools)
student_df = pd.read_csv(students)

# Combine the data into a single dataset.  
school_data = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [58]:
#District summary

#Determine all the school names
school_names = school_data['school_name'].unique()

#Count the number of schools
num_of_schools = len(school_names)
num_of_schools

#Count the number of students in the district
num_of_students = school_data['size'].count()
num_of_students

#Calculate total budget
total_budget = school_df['budget'].sum()
total_budget

#Calculate average math score
avg_math_score = school_data['math_score'].mean()
avg_math_score

#Calculate average reading score
avg_reading_score = school_data['reading_score'].mean()
avg_reading_score

#Calculate percent of students with passing math score
num_passing_math = school_data.loc[school_data['math_score'] >= 70]['math_score'].count()
pct_passing_math = (num_passing_math/num_of_students)*100
pct_passing_math

#Calculate percent of students with passing reading score
num_passing_reading = school_data.loc[school_data['reading_score'] >= 70]['reading_score'].count()
pct_passing_reading = (num_passing_reading/num_of_students)*100
pct_passing_reading

#Calculate percent of students who passed math and reading
num_passing_both = school_data[(school_data['math_score'] >= 70) & 
                                (school_data['reading_score'] >= 70)]['school_name'].count()
pct_passing_both = (num_passing_both/num_of_students)*100
pct_passing_both

district_summary = pd.DataFrame({"Total Number of Schools": [num_of_schools], 
                                                        "Number of Students": [num_of_students], 
                                                        "Total Budget": [total_budget], 
                                                        "Average Math Score": [avg_math_score], 
                                                        "Average Reading Score": [avg_reading_score], 
                                                        "% Passing Math": [pct_passing_math], 
                                                        "% Passing Reading": [pct_passing_reading], 
                                                        "% Passing Math and Reading": [pct_passing_both]
                                }) 
district_summary.head()

,Total Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [63]:
#School summary

#Group by schools
school_group = school_df.set_index(['school_name']).groupby(['school_name'])
school_group.count().head(15)


#Determine the school type
school_type = school_df.set_index(['school_name'])['type']
school_type

#Calculate total school budget
school_budget = school_df.set_index('school_name')['budget']
school_budget

#Calculate budget per student  
budget_per_student = (school_budget/num_of_students)
budget_per_student

#Calculate average math score by school
avg_math_score_school = school_data['math_score'].mean()
avg_math_score_school 

#Calculate average reading score by school
avg_reading_score_school = school_data['reading_score'].mean()
avg_reading_score_school 

#Calculate percent of students with passing math score
num_passing_math = school_data[school_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()
num_passing_math
pct_passing_math = (num_passing_math/num_of_students)*100
pct_passing_math

#Calculate percent of students with passing reading score
num_passing_reading = school_data[school_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()
num_passing_reading
pct_passing_reading = (num_passing_reading/num_of_students)*100
pct_passing_reading

#Calcuate percent of students passing math and reading
num_passing_both = school_data[(school_data['math_score'] >= 70) & 
                               (school_data['reading_score'] >= 70)].groupby('school_name')['Student ID'].count() 
num_passing_both
pct_passing_both = (num_passing_both/num_of_students)*100
pct_passing_both

school_summary = pd.DataFrame({"School Type": school_type, 
                                    "Total Students": num_of_students, 
                                    "Total School Budget": school_budget, 
                                    "Per Student Budget": budget_per_student, 
                                    "Average Math Score": avg_math_score_school, 
                                    "Average Reading Score": avg_reading_score_school, 
                                    "% Passing Math": pct_passing_math, 
                                    "% Passing Reading": pct_passing_reading, 
                                    "% Passing Math and Reading": pct_passing_both
                                }) 

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Bailey High School,District,39170,3124928,79.778606,78.985371,81.87784,8.470768,10.408476,6.941537
Cabrera High School,Charter,39170,1081356,27.606740,78.985371,81.87784,4.465152,4.603013,4.332397
Figueroa High School,District,39170,1884411,48.108527,78.985371,81.87784,4.968088,6.078632,4.005617
Ford High School,District,39170,1763916,45.032321,78.985371,81.87784,4.776615,5.545060,3.796273
Griffin High School,Charter,39170,917500,23.423538,78.985371,81.87784,3.500128,3.640541,3.395456
Hernandez High School,District,39170,3022020,77.151391,78.985371,81.87784,7.898902,9.568547,6.333929
Holden High School,Charter,39170,248087,6.333597,78.985371,81.87784,1.008425,1.049272,0.972683
Huang High School,District,39170,1910635,48.778019,78.985371,81.87784,4.891499,6.055655,3.985193
Johnson High School,District,39170,3094650,79.005617,78.985371,81.87784,8.029104,9.872351,6.507531
Pena High School,Charter,39170,585858,14.956804,78.985371,81.87784,2.323207,2.356395,2.223641
Rodriguez High School,District,39170,2547363,65.033521,78.985371,81.87784,6.775594,8.189941,5.409752
Shelton High School,Charter,39170,1056600,26.974726,78.985371,81.87784,4.220066,4.309420,4.041358
Thomas High School,Charter,39170,1043130,26.630840,78.985371,81.87784,3.893286,4.061782,3.796273
Wilson High School,Charter,39170,1319574,33.688384,78.985371,81.87784,5.471024,5.626755,5.279551
Wright High School,Charter,39170,1049400,26.790911,78.985371,81.87784,4.288997,4.439622,4.151136